<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar usuario</title>
</head>
<body>
    <h1>Crear un usuario</h1>
    <form method="post">
    <label for="name">Ingrese el nombre:</label>
    <input type="text" name="name" id="name"/>
    <br>
    <label for="ap_paterno">Ingrese el apellido paterno:</label>
    <input type="text" name="ap_paterno" id="ap_paterno"/>
    <br>
    <label for="ap_materno">Ingrese el apellido materno:</label>
    <input type="text" name="ap_materno" id="ap_materno"/>
    <br>
    <label for="email">Ingrese el email:</label>
    <input type="email" name="email" id="email"/>
    <br>
    <label for="password">Ingrese el password:</label>
    <input type="password" name="password" id="password"/>
    <br>
    <label for="pfp">Agregue foto de perfil:</label>
    <input type="file" name="pfp" id="pfp" accept="image/*"/>
    <br>
    <label for="super_user_yes">El usuario es admin?:</label>
    <label for="super_user_yes">Sí</label><input type="radio" name="super_user" id="super_user_yes" value = "1"/>
    <label for="super_user_no">No</label><input type="radio" name="super_user" id="super_user_no" value = "0"/>
    <br>

    <button>Crear alumno</button>
    </form>
</body>
</html>